<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="o2Mate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <o2Mate.Properties.Settings>
            <setting name="DefaultMajorVersion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultMinorVersion" serializeAs="String">
                <value>3</value>
            </setting>
        </o2Mate.Properties.Settings>
    </applicationSettings>
</configuration>