<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeCommander.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CodeCommander.Properties.Settings>
            <setting name="AcceptExecutingPrograms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value/>
            </setting>
            <setting name="ExecPowerShellVerb" serializeAs="String">
                <value>Exécuter avec PowerShell</value>
            </setting>
            <setting name="PowerShellInstalled" serializeAs="String">
                <value>True</value>
            </setting>
        </CodeCommander.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
